.about {
    display: flex;
    justify-content: space-between;
    align-items: center
}

header {
    padding-block: 32px;   
}

header .container {
    display: flex;
}

#profile {
    display: flex;
    gap: 32px;

    & img {
        border-radius: 50%;
    }
}

#profile > div {
    max-width: 384px;
}

#profile h1 {
    font: var(--text-lg);
    color: var(--t1);
    margin-bottom: 8px;
}

#profile p {
    font: var(--text-md);
}

#info {
    list-style: none;
    display: grid;
    gap: 1rem;

    & li{
        display: flex;
        align-items: center;
        gap: .5rem;
    }
}

@media(width <= 23.4375rem) {
    .about, #profile {
        flex-direction: column;
    }

    #info {
        margin-top: 2rem;
    }

    #profile img {
        width: 10rem;
    }
    
}
